@model SyntheseOpdracht2.MVC.Models.GenreDetailVM


@{
    ViewBag.Title = "Toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genre toevoegen</h2>

@Html.Partial("_GenreDetails", Model)
